
<footer class="bg-dark text-white text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3">
    © 2020 Copyright:
    <a class="link-warning" href="https://github.com/MuhammadZeeshanYousaf" target="_blank">Zeeshan Developer</a>
  </div>
  <!-- Copyright -->
</footer>


<!-- Footer -->
<!--<footer class="page-footer font-small cyan text-white bg-dark">-->
<!--   Copyright -->
<!--  <div class="footer-copyright text-center py-3">© 2021 Copyright:-->
<!--    <a href="https://github.com/MuhammadZeeshanYousaf" class="link-warning"> Zeeshan Developer</a>-->
<!--  </div>-->
<!-- Copyright -->

<!--</footer>-->
<!-- Footer -->