<footer class="bg-dark text-white text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3">
    © 2021 Copyright:
    <a class="link-warning" href="https://github.com/MuhammadZeeshanYousaf" target="_blank"> Zeeshan Developer</a>
  </div>
  <!-- Copyright -->
</footer>
