<br>
<div class="border border-warning rounded-3" style="width: 80%; margin:auto; padding: 23px">
  <h1>Edit Post</h1>

  <%= render 'form', post: @post %>
  <br>
  <%= link_to 'Show', @post, class: "btn btn-outline-warning" %>
  <%= link_to 'Back', posts_path, class: "btn btn-warning" %>
</div>