

<div class="container col-lg-3 p-2 mt-2">
  <%= link_to 'Create Tweet', new_post_path, class: "btn btn-warning w-100" %>
</div>

<% if @posts.nil? %>
  <p class="text-center text-secondary">There is no tweet yet!</p>
<% end %>

<h3 class="text-center text-secondary text-decoration-underline">All Tweets</h3>
<%= render @posts %>

