<div class="container bg-light">
  <br>
  <%= render 'form', post: Post.new %>
</div>
<hr>

<% if @posts.empty? %>
  <p class="text-center text-secondary mt-5 mb-5">There is no tweet yet!</p>
<% else %>
  <h3 class="text-center text-secondary text-decoration-underline">My Tweets</h3>
  <%= render @posts %>
<% end %>
