// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.size-md{
  width: 70%;
  margin: auto;
}

#post-menu{
  float: right;
}